<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean name="college" class="org.sim.beans.College">
		<property name="cid" value="1" />
		<property name="collegeName" value="Simplilearn" />
		<property name="course">
			<list>
				<value>Java</value>
				<value>.net</value>
				<value>Python</value>


			</list>



		</property>



	</bean>

</beans>