<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean name ="address" class ="org.sim.beans.Address">
<property name="dno" value ="101"/>
<property name="streetName" value ="kherwadi"/>
<property name="loc" value = "Mumbai"/>
</bean>
<bean name ="e" class ="org.sim.beans.Emp">
<property name="eno" value="1"/>
<property name="name" value ="Praveen"/>
<property name="address" ref="address"/>



</bean>
    

</beans>