<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean name ="e" class ="org.sim.beans.Emp">
<property name="eno" value ="1"/>
<property name="name" value = "Praveen"/>
<property name="address" value = "Mumbai"></property>
<!-- <constructor-arg name = "eno" value="1" index="0"/>
<constructor-arg name ="name" value= "Praveen" index="1"/>
<constructor-arg name = "address" value ="Mumbai" index="2"/> -->



</bean>
    

</beans>